@page
@model TopsyTurvyCakes.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="center-block">
        <p class="text-center">
            Topsy Turvy Cake Design is designed to help you explore, create and share personal, custom cake designs
            for anyone and everyone.  So, if you're a passionate cake designer or simply just looking for great recipes, 
            please join our community, explore and share cake designs!
        </p>
</div>

